.userInfo {
    display: flex;
    align-items: center;
    gap: 14px;

    .avatar {
        width: 32px;
        height: 32px;
        position: relative;
        
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }

        .active {
            position: absolute;
            background-color: green;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            top: 0px;
            right: 0px;
        }

    }



    
    span {
        color: black;
        font-weight: 600;
        font-size: 1.4rem;
    }
}