@import './../../styles.scss';

.search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--border);
    padding: 4px 12px;
    width: 400px;
    border-radius: 4px;

    @include mobile {
        border: none;
        width: inherit;
    }

    .icon {
        font-size: 2.4rem;
        cursor: pointer;
        color: var(--textColor);
    }

    input {
        color: var(--textColor);
        width: 100%;
        border: none;
        outline: none;
        caret-color: var(--primary);
        background-color: transparent;

        @include mobile {
            display: none;
        }
    }
}
